In [1]:
raw = '''Monkey 0:
  Starting items: 54, 82, 90, 88, 86, 54
  Operation: new = old * 7
  Test: divisible by 11
    If true: throw to monkey 2
    If false: throw to monkey 6

Monkey 1:
  Starting items: 91, 65
  Operation: new = old * 13
  Test: divisible by 5
    If true: throw to monkey 7
    If false: throw to monkey 4

Monkey 2:
  Starting items: 62, 54, 57, 92, 83, 63, 63
  Operation: new = old + 1
  Test: divisible by 7
    If true: throw to monkey 1
    If false: throw to monkey 7

Monkey 3:
  Starting items: 67, 72, 68
  Operation: new = old * old
  Test: divisible by 2
    If true: throw to monkey 0
    If false: throw to monkey 6

Monkey 4:
  Starting items: 68, 89, 90, 86, 84, 57, 72, 84
  Operation: new = old + 7
  Test: divisible by 17
    If true: throw to monkey 3
    If false: throw to monkey 5

Monkey 5:
  Starting items: 79, 83, 64, 58
  Operation: new = old + 6
  Test: divisible by 13
    If true: throw to monkey 3
    If false: throw to monkey 0

Monkey 6:
  Starting items: 96, 72, 89, 70, 88
  Operation: new = old + 4
  Test: divisible by 3
    If true: throw to monkey 1
    If false: throw to monkey 2

Monkey 7:
  Starting items: 79
  Operation: new = old + 8
  Test: divisible by 19
    If true: throw to monkey 4
    If false: throw to monkey 5'''

In [2]:
blocks = raw.split('\n\n')

In [3]:
class Monkey:
  def __init__(self, block):
    lines = block.splitlines()
    self.items = [int(x) for x in lines[1][len('  Starting items: '):].split(', ')]
    def op(old):
      return eval(self.raw_op)
    self.op = op
    self.raw_op = lines[2][len('  Operation: new = '):]
    self.modulus = int(lines[3][len('  Test: divisible by '):])
    self.target_true = int(lines[4][len('    If true: throw to monkey '):])
    self.target_false = int(lines[5][len('    If false: throw to monkey '):])

In [4]:
monkeys = [Monkey(b) for b in blocks]

In [5]:
counts = [0] * len(monkeys)
for _ in range(20):
  for i, m in enumerate(monkeys):
    for item in m.items:
      v = m.op(item) // 3
      if v % m.modulus == 0:
        monkeys[m.target_true].items.append(v)
      else:
        monkeys[m.target_false].items.append(v)
      counts[i] += 1
    m.items = []
s = sorted(counts)
s[-1] * s[-2]

78960

In [6]:
monkeys = [Monkey(b) for b in blocks]
all_mods = [m.modulus for m in monkeys]
for m in monkeys:
  m.items = [[item % mod for mod in all_mods] for item in m.items]
counts = [0] * len(monkeys)
for _ in range(10000):
  for i, m in enumerate(monkeys):
    for item in m.items:
      vs = [m.op(x) % all_mods[j] for (j, x) in enumerate(item)]
      if vs[i] == 0:
        monkeys[m.target_true].items.append(vs)
      else:
        monkeys[m.target_false].items.append(vs)
      counts[i] += 1
    m.items = []
s = sorted(counts)
s[-1] * s[-2]

14561971968